<h1>New PA Request</h1>
<%= form_for [@patient, @prescription, @request] do |f| %>

<% if @request.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@request.errors.count, "error") %> prohibited this prescription from being saved:</h2>

  <ul>
    <% @request.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div id="request-add" class="template">
  <fieldset>
    <legend><h2>Patient Details</h2>  <%= link_to "Edit Patient", edit_patient_path(@patient), :class=>'btn btn-info' %> </legend>    

    <div class='form-group'>
      <%= f.label :patient, "Name" %>
      <%= f.text_field :patient, :value=>@patient.name, :class=>'form-control', :disabled => true, :id=>'patient' %>
      <%= hidden_field_tag :patient_first_name, @patient.first_name %>
      <%= hidden_field_tag :patient_last_name, @patient.last_name %>
      <%= hidden_field_tag :patient_phone_number, @patient.phone_number %>
      <%= hidden_field_tag :patient_email, @patient.email %>
      <%= hidden_field_tag :patient_gender, @patient.gender %>
    </div>
    <div class='form-group'>
      <%= f.label :date_of_birth, "Date of Birth" %>
      <%= text_field_tag :date_of_birth, @patient.date_of_birth, :class=>'form-control', :disabled => true, :id=>'date_of_birth' %>
    </div>
    <div class='form-group'>
      <%= f.label :state, "Lives in State"%><br/>
      <%= f.subregion_select :state, 'US', {:priority => [@patient.state]}, :class=>'form-control', :value=>"#{@patient.state}"%>
      <%= hidden_field_tag :patient_street_1, @patient.street_1 %>
      <%= hidden_field_tag :patient_street_2, @patient.street_2 %>
      <%= hidden_field_tag :patient_city, @patient.city %>
      <%= hidden_field_tag :patient_zip, @patient.zip %>
    </div>

  </fieldset>

  <fieldset>
    <legend><h2>Prescription Details</h2></legend>

    <%= hidden_field :pharmacy_name, @prescription.pharmacy.name %>
    <%= hidden_field :pharmacy_street, @prescription.pharmacy.street %>
    <%= hidden_field :pharmacy_city, @prescription.pharmacy.city %>
    <%= hidden_field :pharmacy_state, @prescription.pharmacy.state %>
    <%= hidden_field :pharmacy_zip, @prescription.pharmacy.zip %>
    <%= hidden_field :pharmacy_fax, @prescription.pharmacy.fax %>
    <%= hidden_field :pharmacy_phone, @prescription.pharmacy.phone %>

    <div class="form-group">
      <%= f.label :drug_name, "Medication" %><br>
      <%= text_field_tag :prescription_drug_name, @prescription.drug_name, :class=>'form-control', :disabled => true %>
      <%= hidden_field_tag :drug_number, @prescription.drug_number, :class=>'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :prescription_refills, "Refills" %>
      <%= text_field_tag :prescription_refills, @prescription.refills, :class=>'form-control', :disabled=>true %>
    </div>
    <div class='form-group'>
      <%= f.label :prescription_frequency, "Frequency" %>
      <%= text_field_tag :prescription_frequency, @prescription.frequency, :class=>'form-control', :disabled=>true %>
    </div>
    <div class='checkbox'>
      <%= f.label :prescription_dispense_as_written do %>
        <%= check_box_tag :prescription_dispense_as_written, @prescription.dispense_as_written, :class=>'checkbox', :disabled=>true %>
        <b>Dispense as Written?</b>
      <% end %>
    </div>
    <div class='form-group'>
      <%= f.label :prescription_quantity, "Quantity" %>
      <%= text_field_tag :prescription_quantity, @prescription.quantity, :class=>'form-control', :disabled=>true %>
    </div>

    <div class='checkbox'>
      <%= f.label :urgent do %>
      <%= f.check_box :urgent, :class=>'checkbox' %>
      <b>Urgent?</b>
      <% end %>
    </div>
    
    <div class='form-group'>
      <%= f.label :form_id, "Form" %>
      <%= f.text_field :form_id, :class=>'form-control' %>
    </div>

  </fieldset>
  <div class='form-actions'>
    <%= link_to "Cancel", @patient, :class=>'btn btn-default'%>
    <%= f.submit "Create", :class=>'btn btn-primary', :id=>'create'%>
  </div>
</div>

<% end %>
