<%= form_for [@patient, @prescription, @request] do |f| %>

<div id="request-add" class="template">
  <fieldset>
  	<legend>New PA Request</legend>

    <p>
      <label for="patient">Patient</label>
      <input class="form-control" id="patient" disabled value="<%= @patient.name %>"/>
    </p>

  	<p>
  		<label for="date_of_birth">Date of Birth</label>
  		<input class="form-control" id="date_of_birth" disabled value="<%= @patient.date_of_birth %>"/>
  	</p>

    <%= link_to "Edit Patient", edit_patient_path(@patient), :class=>'btn btn-info' %>

    <p>
      <%= f.label :state, "State"%><br/>
      <%= f.subregion_select :state, 'US', :class=>'form-control'%>
    </p>

  	<p>
  		<label for="drug">Drug</label>
      <input class="form-control" id="drug" name="request[prescription][drug_id]">
  	</p>

  	<p>
  		<label for="form">Form</label>
  		<input class="form-control" id="form" name="request[form_id]">
  	</p>

    <p>
      <%= link_to "Cancel", @patient, :class=>'btn btn-default'%>
      <%= f.submit "Create", :class=>'btn btn-primary', :id=>'create'%>
    </p>

  </fieldset>
</div>

<% end %>