<div id="patient-show" class="template">
	<h2><%= "#{@patient.last_name}, #{@patient.first_name} (#{@patient.date_of_birth}) - #{@patient.state}" %></h2>
	<hr>

	<h3>Prescriptions <%= link_to "Add Prescription", new_patient_prescription_path(@patient), :class=>'btn btn-success' %></h3>

	<% if @prescriptions.count < 1 %>
	<h5>No drugs have been added for this patient yet.</h5>
	<%  else  %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Drug</th>
				<th>Formulary Status</th>
				<th colspan="2">PA Status</th>
				<th colspan="2">Prescribed On</th>
			</tr>
		</thead>
		<% @prescriptions.each do |prescription| %>
		<tr>
			<td><%= prescription.drug_name %></td>
			<td><%= prescription.formulary_status %></td>
			<% request = (prescription.pa_requests.first) || PaRequest.new %>

			<td><%= request.cmm_workflow_status || "None" %></td>

			<td class="start">
				<% if (request == nil) || (request.cmm_token == nil) then %>
				<%= link_to "Start", new_patient_prescription_pa_request_path(@patient, prescription), :class=>'btn btn-success', :id => 'start_pa_request' %>
				<%  else  %>
				<%= link_to "Show on CMM", patient_prescription_pa_request_path(@patient, prescription, request), :class=>'btn btn-success' %>
				<% end %>
			</td>
			<td><%= prescription.date_prescribed && prescription.date_prescribed.strftime("%B %d at %I:%M %p") %></td>
			<td>
				<%= link_to "Change Drug", edit_patient_prescription_path(@patient, prescription), :class=>"btn btn-primary #{(request.sent) ? 'disabled' : ''}"%>
		        <%= link_to "X", [@patient, prescription], method: :delete, :class=>'btn btn-xs btn-danger' %>
			</td>
		</tr>
		<% end %>
	</table>
	<% end %>

	<%= link_to 'Edit Patient', edit_patient_path(@patient), :class=>"btn btn-primary" %>

</div>
